# Server
PORT=3000
NODE_ENV=development

# Database
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASSWORD=Postgres@13579
# DB_NAME=metro-gini

# JWT
JWT_SECRET=0f70bd745a947c95166a5a6c2a487f46d40f10d3732f78d02cdc693d396d0539da5231bafcc6aace3ea19b4f7f90c187390ad8f6a8cd122d04abb9f75b71b1dc
JWT_EXPIRES_IN=7d

# OTP
OTP_EXPIRY=5

# Vendor assignment (max pincode numeric difference for service area)
VENDOR_PINCODE_MAX_DIFF=100

# Base URL
BASE_URL=http://localhost:3000


#Database URL
# postgresql://postgres.dljafgqiacpxotirqzqb:0vxFT5Uqjx5ShP07@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
DATABASE_URL=postgresql://postgres.dljafgqiacpxotirqzqb:0vxFT5Uqjx5ShP07@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres

# Razorpay
RAZORPAY_KEY_ID=rzp_test_T33lOC4T2mgien
RAZORPAY_KEY_SECRET=qhy8zsEznQ3iwhCKnEcwiJ5o
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret

# SMTP (email notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=no.reply.webiknows@gmail.com
SMTP_PASS="lywb sddm xrcv vqtp"
SMTP_ENCRYPTION=tls
SMTP_FROM_NAME=Metro Gini
SMTP_FROM_EMAIL=no.reply.webiknows@gmail.com

# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
