# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Postgres@13579
DB_NAME=metro-gini

# JWT
JWT_SECRET=0f70bd745a947c95166a5a6c2a487f46d40f10d3732f78d02cdc693d396d0539da5231bafcc6aace3ea19b4f7f90c187390ad8f6a8cd122d04abb9f75b71b1dc
JWT_EXPIRES_IN=7d

# OTP
OTP_EXPIRY=5

# Base URL
BASE_URL=http://localhost:3000


# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
